body{
    font-size: $font-size-base;
    font-family: $font-family-base;
    line-height: 1.6;
    word-break: keep-all;
}

.main{
    max-width: 1680px;
    min-width: 320px;
}

.hidden{
    display: none;
}
