// color
$black: #000;
$black-111: #131212;

$dark-blue: #13212e;

$brown: #6a5a45;
$brown-999: #716e5a;

$beige: #f4e2a9;
$beige-999: #e7e3c6;

$red: #bf1f1f;
$red-999: #e85a5a;

$orange: #f1751b;
$orange-333: #f29156;

$gray: #a6a6a7;
$gray-888: #f5f5f5;
$gray-999: #d0d3d5;

$white: #ffffff;

$border-color-base: #d8d8d8;

// font - size
$font-size-base: 16px;

$font-family-base: 'Overpass', sans-serif;

// screen
$screen-size: 1024px;
