@import '../helpers/_variables';
@import '../helpers/_extends';
@import '../helpers/_mixins';

@import '../components/_news-list';

.main{
    @include padding(40px 60px);
    overflow: hidden;
}

.notice-container{
    @include size(100%);
    @include box-sizing(border-box);
    overflow: hidden;

    .title-wrap{
        @include size(100%, 95px);
        @include padding(30px);
        @include box-sizing(border-box);
        background: $black;
        line-height: 35px;
        color: $white;

        .notice-title{
            @include margin(right 4%);
            @include padding(right 4%);
            @include border(1px solid rgb(56, 73, 81), right);
            float: left;
            font-size: 30px;
            margin-left: 4%;
        }

        p{
            font-size: 12px;
        }
    }

    .notice-list{
        @include news-list();
        @include padding(0 30px);
    }
}
