// color
$black: #000;
$white: #ffffff;

$blue: rgb(11, 198, 227);

$border-color-base: #d8d8d8;

// font - size
$font-size-base: 20px;

$font-family-base:'Noto Sans KR', sans-serif;

// screen
$screen-size: 1680px;
